/* line 3, ../sass/parsnip.scss */
#popular_content .favorite {
  display: inline-block;
  text-align: center;
  width: 4%;
}

/* line 9, ../sass/parsnip.scss */
#popular_content .selected {
  color: #ccc;
}
